<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name>Share Session Management System</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<!-- Persistence Service Configuration -->
	<resource-ref>
		<res-ref-name>jdbc/DefaultDB</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
	</resource-ref>
	<!-- Document Service Configuration -->
	<resource-ref>
		<res-ref-name>EcmService</res-ref-name>
		<res-type>com.sap.ecm.api.EcmService</res-type>
	</resource-ref>
	<!-- User Provider Configuration -->
	<resource-ref>
		<res-ref-name>user/Provider</res-ref-name>
		<res-type>com.sap.security.um.user.UserProvider</res-type>
	</resource-ref>
	<!-- Security Configuration -->
	<!-- <login-config> -->
	<!-- <auth-method>FORM</auth-method> -->
	<!-- </login-config> -->
	<!-- <security-constraint> -->
	<!-- <web-resource-collection> -->
	<!-- <web-resource-name>Protect Area</web-resource-name> -->
	<!-- <url-pattern>/*</url-pattern> -->
	<!-- </web-resource-collection> -->
	<!-- <auth-constraint> -->
	<!-- <role-name>Everyone</role-name> -->
	<!-- </auth-constraint> -->
	<!-- </security-constraint> -->
	<!-- <security-role> -->
	<!-- <description>All SAP HANA Cloud Platform Users</description> -->
	<!-- <role-name>Everyone</role-name> -->
	<!-- </security-role> -->
</web-app>